{% extends "rides/base.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
        <a class="mr-2" > {{ object.status }} </a>
        {% if object.author == user %}
          <div>
            {% if object.status == "pending" %}
              <a class="btn btn-outline-info" href="{% url 'post-update' object.id %}">Update</a>
              <a class="btn btn-outline-info" href="{% url 'post-delete' object.id %}">Delete</a>
            {% endif %}
          </div>
        {% elif user.profile.status == "driver" %}
          {% if object.status == "pending" %}
            <a class="btn btn-outline-info" href="{% url 'pending-post-status-update' object.id %}">Accept</a>
          {% elif object.status == "confirmed" %}
            <a class="btn btn-outline-info" href="{% url 'confirmed-post-status-update' object.id %}">Complete</a>
          {% endif %}
        {% elif user.profile.status == "sharer" and object.status == "pending" and object.sharer == "None" %}
          <a class="btn btn-outline-info" href="{% url 'confirmed-post-status-update' post.id %}">Join</a >
        {% endif %}
      </div>
      <h2 class="article-title">{{ object.title }}</h2>
      <p class="article-content">Destination: {{ post.destination }} </p>
      <p class="article-content">Arrival time: {{ post.arrival_time }} </p>
      <p class="article-content">Driver: {{ post.driver }} </p>
      <p class="article-content">Sharer: {{ post.sharer }} </p>
      <p class="article-content">Car type: {{ post.type }} </p>
      <p class="article-content">Car plate: {{ post.plate }} </p>
      <p class="article-content">Car volume: {{ post.volume }} </p>
      <p class="article-content">Special: {{ post.special }} </p>
    </div>
  </article>
{% endblock content %}
